.App {
  text-align: center;
}

.starry-background, .twinkling {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
}

.starry-background {
  background: black url('./res/stars.png') repeat top center;
  z-index: 0;
}

@keyframes twinkling-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.twinkling {
  background: transparent url('./res/twinkling.png') repeat top center;
  z-index: 1;
  animation: twinkling-animation 200s linear infinite;
}